.container {
  background-color: grey;
  border: 0;
  display: grid;
  grid-template-columns: auto auto;
}

.links {
  padding-left: 600px;
  padding-top: 50px;
  font-size: 20px;
}

#About,
#Work,
#Contact,
#Resume {
  color: black;
  padding-left: 10px;
}

.container1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  background-image: url(https://wallpapercave.com/wp/wp2742538.jpg);
  background-repeat: no-repeat;
  background-size: 130%;
}

#title {
  font-size: 30px;
  margin-top: 75px;
  text-align: right;
  padding-right: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: 40% 1fr 55%;
  margin-top: 30px;
  width: 100vw;
}
h2 {
  padding-left: 220px;
  font-size: 50px;
}

.vl {
  border-left: 6px solid rgb(34, 0, 128);
  height: 200px;
}
